Description=Oreka API

[Service]
ExecStart=/bin/sh -c '/usr/local/bin/oreka-api 2>&1 > /var/log/oreka-api/app.log'
Type=simple
User=root
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oreka-api

[Install]
WantedBy=multi-user.target